**/img
**/.git
**/dist
**/data
**/build
**/.cache
**/.github
**/*.vscode
**/__pycache__
**/.pytest_cache
**/.ipynb_checkpoints
**/notebooks-contrib/*

**/.env
**/*.pyc
**/*.so*
**/*.egg*
**/*.log
**/.DS_STORE
**/.gitignore

**/Makefile
**/*Dockerfile*
**/*compose*.yml
**/etc/conda
**/etc/.ccache

**/cudf/_lib/**/*.so
**/cudf/_lib/**/*.cpp

**/cugraph/datasets
**/cugraph/**/*.so
**/cugraph/**/*.cpp
