**/img
**/.git
**/dist
**/data
**/build
**/.cache
**/.github
**/.clangd
**/*.vscode
**/__pycache__
**/.pytest_cache
**/.ipynb_checkpoints
**/notebooks-contrib/*

**/.env
**/*.pyc
**/*.so*
**/*.egg*
**/*.log
**/.DS_STORE
**/.gitignore

**/Makefile
**/*Dockerfile*
**/*compose*.yml
**/etc/conda
**/etc/.ccache
**/etc/notebooks/sandbox

**/cudf/_lib/**/*.so
**/cudf/_lib/**/*.cpp
**/cudf/_libxx/**/*.so
**/cudf/_libxx/**/*.cpp

**/cuml/_lib/**/*.so
**/cuml/_lib/**/*.cpp

**/cugraph/datasets
**/cugraph/**/*.so
**/cugraph/**/*.cpp
