**/z-*
**/.env
**/.git
**/.cache
**/.clangd
**/.github
**/.vscode
**/etc/llvm
**/etc/conda
**/etc/.ccache
**/etc/rapids/log
**/etc/rapids/include
**/etc/rapids/.vscode
**/etc/notebooks/sandbox
**/etc/notebooks/.jupyter
**/.ipynb_checkpoints
**/cugraph/datasets
**/notebooks-contrib/data
**/cpp/build
**/rmm/build
