.env
**/z-*
**/etc/llvm
**/etc/conda
**/etc/.ccache
**/etc/.bash_aliases

**/etc/rapids/log/*
**/etc/rapids/include/*
**/etc/rapids/.vscode/*
**/etc/rapids/rapids*.yml
**/etc/rapids/.bash_history

**/etc/notebooks/sandbox/*
**/etc/notebooks/.jupyter/*
**/etc/notebooks/notebooks*.yml

!etc/rapids/log/.keepDir
!etc/rapids/include/.keepDir
!etc/rapids/.vscode/.keepDir
!etc/notebooks/sandbox/.keepDir
!etc/notebooks/.jupyter/.keepDir
